body {
  color: #424242;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #424242;

  /* border: 2px solid green;  /* For debugging */

  margin: 0 auto;
  width: 75%;
}
